<h1>Admin Shelters Index</h1>

<% @shelters.each do |shelter|%>
  <%= shelter.name%>
<% end %>

<h3>Shelters with Pending Applications</>
<div id="pending_applications">
  <% Shelter.pending_applications.each do |shelter|%>
    <%= shelter.name%>
  <% end %>
</div>
end